[submodule "thirdparty/bestline"]
	path = thirdparty/bestline
	url = https://github.com/salmiyounes/bestline
[submodule "thirdparty/proc_maps_parser"]
	path = thirdparty/proc_maps_parser
	url = https://github.com/salmiyounes/proc_maps_parser
[submodule "thirdparty/libelfin"]
	path = thirdparty/libelfin
	url = https://github.com/salmiyounes/libelfin
